name: golangci-lint
on:
  push:
    branches: [main]
  workflow_dispatch:
  pull_request:

permissions:
  contents: read
  # Optional: allow read access to pull requests. Use with `only-new-issues` option.
  # pull-requests: read

jobs:
  golangci:
    name: lint
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - uses: actions/setup-go@v5
        with:
          go-version: stable
      - name: Install dependencies
        run: sudo apt-get -y install pkg-config libpcsclite-dev libpcsclite1 pcscd pcsc-tools build-essential pkg-config gcc-aarch64-linux-gnu
      - name: golangci-lint
        uses: golangci/golangci-lint-action@v8
        with:
          version: v2.1
